<section class="section hero__section hero" data-target="home">
    <div class="container">
        <div class="hero__grid">
            <div class="hero__grid-title-slider">
                <div class="title__wrapper">
                    <div class="title__sub title__sub--blue">
                        Real estate
                    </div>

                    <div class="title__main">
                        <h1>Find a perfect home you love..!</h1>
                    </div>

                    <div class="title__description">
                        Etiam eget elementum elit. Aenean dignissim dapibus vestibulum. Integer a dolor eu sapien sodales vulputate ac in purus.
                    </div>
                </div>

                {% include "heroSlider.twig" %}
            </div>

            <div class="hero__grid-form">
                {% include "heroForm.twig" %}
            </div>

            <div class="hero__grid-trusted">
                {% include "trusted.twig" %}
            </div>

            <div class="hero__grid-custumers">
                {% include "custumers.twig" %}
            </div>
        </div>
    </div>
</section>
