<div class="top-line">
    <div class="container top-line__container">
        <div class="top-line__address">
            <svg width="12" height="16" focusable="false">
                <use href="./img/sprite.svg#pin"></use>
            </svg>
            Rezilla, 18 Grattan St, Brooklyn
        </div>

        <div class="top-line__support">
            <div class="top-line__phone">
                <svg width="16" height="16" focusable="false">
                    <use href="./img/sprite.svg#phone"></use>
                </svg>
                <a href="tel:+12062142298" class="top-line__phone-link">+1 206-214-2298</a>
            </div>

            <div class="top-line__email">
                <svg width="16" height="12" focusable="false">
                    <use href="./img/sprite.svg#email"></use>
                </svg>
                <a href="mailto:support@rezilla.com" class="top-line__email-link">support@rezilla.com</a>
            </div>
        </div>
    </div>
</div>
