<div class="subscribe">
    <div class="subscribe__title">
        Subscribe to our Newsletter!
    </div>

    <form class="subscribe__form">
        <input type="text" class="subscribe__input" placeholder="Email Address">

        <button type="submit" class="subscribe__submit btn btn-round" aria-label="Subscribe">
            <svg width="16" height="16" focusable="false">
                <use href="./img/sprite.svg#arrow-right"></use>
            </svg>
        </button>
    </form>
</div>
